<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=400; initial-scale=0.755; maximum-scale=1.0; minimum-scale=0.6666" />
    <title>BarCampJax Schedule</title>
    <%= stylesheet_link_tag 'master' %>
  </head>

  <body>
    <div id="container">
      <div id="top-navigation">
          <li><%= link_to 'BarCampJax', 'http://barcampjax.com' %></li>
          <li><%= link_to 'Twitter Search', 'http://search.twitter.com/search?q=BarCampJax+OR+%22BarCamp+Jax%22+OR+%23bcjax+OR+%23bcj2009' %></li>
          <li><%= link_to 'Based on Source Code', 'http://github.com/tylerhunt/barcamplive/tree/master' %></li>
      </div>

      <div id="header">
        <h1><%= link_to 'BarCamp', root_path %> <span><%= link_to 'Jacksonville', root_path %></span></h1>
        <h1 id="date">Rocktober 18th 2009 @ 11am - ?</h1>
      </div>

      <p style="color: green;"><%= flash[:notice] %></p>

      <div id="Barcamp-info">
        <ul>
          <% Venue.find(:all, :order => 'id').each do |venue| %>
            <li class="room"><%= link_to venue.name, venue_talks_path(venue) %></li>
          <% end %>

          <% if session[:admin] %>
            <li class="right"><%= link_to 'Log Out', logout_path %></li>
          <% end %>

          <br class="clear" />
        </ul>
      </div>
      <%= yield  %>

    </div>
  </body>
</html>
